html {
    scroll-behavior: smooth;
    /* background-image: url('matrixWebonWhite.svg'); */
    background-color: black;
    scroll-snap-type: y proximity;
    scrollbar-gutter: initial;
    

}

::-webkit-scrollbar {
    color: black;
}

body {
    
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;

}

.bigRow {
    display:flex;
    height: 100%;
    
}

.button-group-mobile {
    visibility: hidden;
}

.slabz:hover {
    opacity: 75%;
}

.tiger:hover {
    opacity: 75%;
}

/* .header {
    align-items: right;
} */

.header a {
    display: block;
    z-index: -1;
}

.scrollWheel {
    margin-right: 125px;
    margin-left: 125px;
    display:flex;
    position:relative;
    height: 50vw;
    justify-content: center;
    align-items: center;
}

.scrollTing {
    position: fixed;
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll)* -1s);
    opacity: 70%;
}

.titleCont {
    justify-content: center;
}

.slider {
    visibility: hidden;
    
  }

.scrollArea {
    display:contents;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    min-height: 100vh;
    scroll-snap-align: start;
    overflow: visible;
    
    /* scroll-snap-stop: normal; */
}

/* @keyframes rotate {
    to {
        transform: rotate(360deg);
    }
} */


.curricular {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 4rem;
    color: rgb(100, 100, 100);
}

.titleCont {
    text-align: center;
  /*  background:*/
  /*  !* linear-gradient(to right, rgb(255, 255, 255) 4px, transparent 4px) 0 0, *!*/
  /*  linear-gradient(to right, rgb(255, 255, 255) 4px, transparent 4px) 0 100%,*/
  /*  linear-gradient(to left, rgb(255, 255, 255) 4px, transparent 4px) 100% 0,*/
  /*  !* linear-gradient(to left, rgb(255, 255, 255) 4px, transparent 4px) 100% 100%, *!*/
  /*  !* linear-gradient(to bottom, rgb(255, 255, 255) 4px, transparent 4px) 0 0, *!*/
  /*  linear-gradient(to bottom, rgb(255, 255, 255) 4px, transparent 4px) 100% 0,*/
  /*  linear-gradient(to top, rgb(255, 255, 255) 4px, transparent 4px) 0 100%,*/
  /*  linear-gradient(to top, rgb(255, 255, 255) 4px, transparent 4px) 0 100%;*/


  /*  !* box-shadow: */
  /*      0 0 10px 5px #48abe0,*/
  /*      0 0 20px 7px #ebecca,*/
  /*      0 0 25px 20px #8a2be2,*/
  /*      0 0 30px 25px #ff1493; *!*/
  /*  */

  /*background-repeat: no-repeat;*/
  /*background-size: 5% 10%;*/
  /*margin-bottom: 5%;*/
}

.credits {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    color: white;
    
}

.ny {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 15rem;
    
    color: white;
    /* line-height: 200px; */
    margin-bottom: 5%;
    animation: glow 1s ease-in-out infinite alternate;
    
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fbbdff, 0 0 10px #fff, 0 0 20px #fff;
    }
    
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fddfff, 0 0 12px #fddfff;
    }
  }

.PROJNAME {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 8vw;
    
    margin-bottom: 0;
    font-stretch: condensed;
    color: white;
}

.PROJNAMEend {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 8rem;
    
    margin-bottom: 0;
    font-stretch: condensed;
    color: white;
}

a.PROJLINK {
    color: #fff;
    text-decoration: none;
    
}

a.PROJLINK:hover {
    color: rgb(186, 186, 186);
}


.CONTACT {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 5vw;
    line-height: 8vw;
    
    font-stretch: condensed;
    /*position: flex;*/
}

.edu {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(100, 100, 100);
    font-size: 30px;
    font-weight: 300;
    margin: 5px;
    
    
}

.descript {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    line-height: 1.8;
    font-size: 1.1rem;
   
}

.navCont {
    align-items: center;
    text-align: center;
}

.nav {
    
    text-align: center;
    word-spacing: 50px;
}

.nav a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 2.1rem;
    text-decoration: none;
    animation: glow 1s ease-in-out infinite alternate;
}

.nav a:hover {
    opacity: 80%;
}



.mainCol {
    position:relative;
    text-align: left;
    height: 100%;
    width: 25%;
    overflow:visible;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid white; */
}


.scrollArea-mobile {
    display: none ;
}

.tiger {
    /* float: left; */
    margin-left: -8%;
    position: fixed;
}


.tiger a:hover {
    opacity: 80%;
}




/*
    Styling for the slideshow projects/experience
*/


.row {
    display: flex;
    height: 30%;
    column-gap: 20px;
    border-color: white;
    
} */

 .row-end {
    display: flex;
    height: 30%;
    column-gap: 20px;
    color: white;
}

.p-mobile-info {
    visibility: hidden;
}

.column {
    flex-grow: 1;
    position:relative;
    text-align: left;
    /* outline-color: white; */
    outline: 3px solid white;
    overflow: hidden;
    /* width: 33.3%; */
    
}

 .column .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
} 

 .column:hover .overlay {
    height: 100%;

} 

.ovPic {
    opacity: 15%;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

a.caption {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-decoration: none;
    flex: auto;
}

#about-resume {
    height: 100vh;
}

 .contact .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
} 

 .contact:hover .overlay {
    height: 100%;
}

a.caption:hover {
    opacity: 50%;
    
} 

a.caption:visited {
    color: white;
}

a.return {
    
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: black;
    font-weight:700;
}

a.return:hover {
    opacity: 50%;
}

.menuWink {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
}

footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: rgb(85, 85, 85);
    text-align: center;
}

.courier {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.resumeBoi {
    height: 100%;
}


.resumeBruh {
    background-color: black;
    border-radius: 1%;
    
}

.resume-header {
    
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(200, 36, 222);
    font-weight:700;
}

.resume-info {
    margin-left: 10%;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight:700;
}

.resume-info-curr {
    margin-left: 10%;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(36, 204, 39);
    font-weight:700;
}

.resumeBrackets {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight:700;
}

.resumeBr {
    margin-left: 5%;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight:700;
}

/** cursor animation for description **/


.container {
  display: flex;
  text-align: left;
  justify-content: center;
}

.box h2 {
  display: flex;
  align-items: center;
  gap: 2px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.box p::after {
  content: " ";
  width: 5px;
  height: 18px;
  background: #000000;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

.contactMe {
    
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    color: #fff;
    font-weight:700;
}

.myInfo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    color: #fff;
    
}

a.contactMe-Info {
    color: rgb(200, 36, 222);
    text-decoration: none;
}

a.contactMe-Info:hover {
    opacity: 50%;
}

a.contactMe-Info:visited {
    color: rgb(200, 36, 222);
}

a.contactMe-email {
    color: rgb(200, 36, 222);
    text-decoration: none;
}


a.bstars:hover {
    opacity: 75%;
}


#hamburger-input{
    display: none;
}
  
#hamburger-menu {
    position: fixed;
    z-index: 1;
    top: 5%;
    right: 10%;
    width: 30px;
    height: 30px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    transition: all 300ms ease;
    background: linear-gradient(
    to bottom, 
    white, white 10%, 
    rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 40%, 
    white 40%, white 50%, 
    rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0) 80%, 
    white 80%, white 90%,
    rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%
    );
}
  
#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -250px;
    width: 60%;
    height: 100%;
    background-color: rgb(200, 36, 222);
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
    text-align: left;
}


#hamburger-menu ul {
padding-right: 0px;
}

#hamburger-menu li {
list-style-type: none;
line-height: 3rem;
}

#hamburger-menu a {
color: black;
font-size: 1.3rem;
text-decoration: none;

}

#hamburger-menu a:hover {
color: #fff;
}

/* #hamburger-input:checked + #hamburger-menu #sidebar-menu {
visibility: visible;
right: 0;
}
#hamburger-input:checked ~ .overlay{
visibility: visible;
opacity: 0.4;
} */


@media screen and (max-width: 1200px) {

    .titleCont {
        text-align: center;
        background:none;
      margin-bottom: 5%;
    }

}

@media screen and (max-width: 1200px) {

    body {
        
    }

    .ny {
        
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 200;
        font-size: 12rem;
        line-height: 80%;
        padding-bottom: 30px;
        
    }


    .scrollArea {
        min-height: 100vh;
    }

    .slider {
        visibility: hidden;
    }

    #Navigation {
        display: none;
        
    }
    #hamburger-menu {
        display: hidden;
    }


    a.caption {
        font-size: 20px;
    }

    .resumeBoi {
        overflow: auto;
        
    }

    

    .row-end {
        display:block;
        height: 500px;
        column-gap: 500px;
        
        
    }

    .PROJNAME {
        font-size: 5rem;
        text-align: left;
        
    }

    a.PROJLINK {
        color: #fff;
        text-decoration: none;
        
    }

    a.PROJLINK:hover {
        color: rgb(85, 85, 85);
    }


    .column {
        flex-grow: 1;
        text-align: left;
        outline: 5px solid white;
        overflow: hidden;
        width: 100%;
        row-gap: 100px;
        /* width: 33.3%; */
        
    } 

    .header {
        visibility: visible;
    }
}

/* For everything phone related */
  
@media screen and (max-width: 1000px) {

    html {
        scroll-snap-type: none;

    }

    .p-mobile-info {
        visibility: visible;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

   
    #scroll1 {
        height: 80vh;
    }

    .werk {
        display: none;
    }

    body {
        margin-right: 10%;
        margin-left: 10%;
        overflow: auto;
    }

    .titleCont {
        text-align:center;
        /* border: 1px solid pink; */
        margin-top: 0;
        height: fit-content;
    }

    .spacer {
        visibility: hidden;
    }

    .scrollArea-mobile {
        display: flex;
    }

    #first-work-block-mobile {
        height: 200px;
        width: 200px;
        float: left;
        /* border: 2px solid white; */
        margin-left: 5%;
        margin-bottom: 5%;
        text-align: center;
        margin-top: 5%;
    }

    .mobileWork {
        /* border: 1px solid white; */
        height: fit-content;
        margin-left: 5%;
        margin-right: 5%;
    }


    #about-resume {
        height: fit-content;
        visibility: visible;
        
    }

    .workBlock-L {
        height: 200px;
        width: 200px;
        float: left;
        border: 3px solid white;
        margin-left: 5%;
        margin-bottom: 5%;
        text-align: center;
        overflow: hidden;
        transition: 0.5s ease;
    
    }

    .workBlock-R {
        height: 200px;
        width: 200px;
        float: right;
        border: 3px solid white;
        text-align: center;
        margin-bottom: 5%;
        margin-right: 5%;
        transition: 0.5s ease;
        overflow: hidden;
        
    }

    .mobile-work-title {
        
        
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 3rem;
        font-weight: 100;
    }


    /* Overlay for mobile */

    .workBlock-L .overlay-mobile {
        /* position: absolute; */
        bottom: 0;
        left: 0;
        right: 0;
        background-color:white;
        overflow: hidden;
        width: 250px;
        height: 0;
        transition: .5s ease;
        
    }

    .workBlock-R .overlay-mobile {
        /* position: absolute; */
        bottom: 0;
        left: 0;
        right: 0;
        background-color:white;
        overflow: hidden;
        width: 250px;
        height: 0;
        transition: .5s ease;
        
    }

    .button-group-mobile {
        word-spacing: 25px;
        visibility: visible;
    }

    

    .proj-mobile-info {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: black;
        padding-top: 0;

    }

    .info-button {
        background: none;
        border: 1px solid white;
        border-radius: 3px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: fit-content;

    }

    .info-button a {
        text-decoration: none;
        color: white;
    }
    .info-button a:visited {
        text-decoration: none;
    }

    .proj-button {
        background: none;
        border: 1px solid black;
        font-family: Arial, Helvetica, sans-serif;
        width: 90px;
        padding: 2px;
        height: 30px;
        
    }

    .proj-button a {
        text-decoration: none;
        color: black;
    }

    .proj-button a:visited {
        text-decoration: none;
    }

    #block8 {
        background-color: rgb(200, 36, 222);
    }

    #block9 {
        background-color: rgb(200, 36, 222);
    }

    .ny {

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 300;
        font-size: 5rem;
        letter-spacing: 10px;
        text-align: center;
        
    }


    .navCont {
        display: none;
    }

    .menuWink {
        display: none;
    }

    .slider {
        margin-top: 100%;
        visibility: visible;
        width: 50px;
        height: 50px;
        border: 10px solid white;
        opacity: 30%;
        margin-left: 40%;
        border-radius: 50%;
        
        position:absolute;
        /* top: 50%; */
        transform: translate(-50%, -50%);
    }

    .resume-header {
        font-size: 1rem;
    }

    .resume-info {
        font-size: 1rem;
    }

    .resume-info-curr {
        font-size: 1rem;
    }

    .resumeBr {

        font-size: 1rem;
    }

    .resumeBrackets {
        font-size: 1rem;
    }

    #Navigation {
        display: none;
        
    }
    #hamburger-menu {
        display: inline;
    }


    a.caption {
        font-size: 20px;
    }

    #work-desktop {
        display: none;
    }

    .resumeBoi {
        overflow: auto;
        
    }

    .PROJNAME {
        font-size: 3.5rem;
        text-align: left;
    }

    .PROJNAMEend {
        font-size: 2.5rem;
        text-align:left
    }

    a.PROJLINK {
        color: #fff;
        text-decoration: none;
        
        
    }

    .header {
        visibility: hidden;
    }

    #sidebar-menu .matrix {
        text-decoration:line-through;
    }
    
}
